// Tablet
@media only screen and (max-width: 1023px) and (min-width: 481px) {

	h1.headerTitle {
		font-size: 40px;
		height: auto;
	}

	h2.headerSubtitle {
		font-size: 28px;
	}

	h4.tabText {
		font-size: 18px;
	}
}

// Mobile
@media only screen and (max-width: 480px) {

	h1.headerTitle {
		font-size: 26px;
		height: auto;
		text-align: center;
	}

	h2.headerSubtitle {
		font-size: 16px;
		text-align: center;
		margin-bottom: 20px;
	}

	h3.tabTitle {
		font-size: 20px;
	}

	h4.tabText {
		font-size: 16px;
	}

	img.logo {
		width: 50%;
		margin: 0 25%;
	}

	.headerBlock {
		border-bottom: 5px solid $delta;
	}


	.headerBlockText {
		display: block;
	}

	.headerBlockLogo {
		display: block;
		margin: 0 auto;
	}

	.item {
		display: block;
		margin-right: 0;
	}

}

// Desktop

html {
  font-size: $base-font-size;
}

.wrapper {
    width: 100%;
    max-width: 3045px;
    margin: 0 auto;
}

.container {
	padding: 2%;
	margin: 0 27px;
}

.hero {
	margin-top: 20px;
}

h3.tabTitle {
	text-align: left;
	font-size: 28px;
	color: $delta;
	padding-left: 2%;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 300;
}

h4.tabText {
	text-align: center;
	font-size: 28px;
	color: $echo;
	text-transform: uppercase;
	margin-bottom: 10%;
	font-weight: 300;
}


.item {
	display: inline-block;
	text-align: center;
	margin-right: 5%;


	&:nth-child(3) {
		margin-right: 0
	}
}



